<div class="header">
    <div class="content-header ">
        <div class="logo">
            <a href="/">
                <img src="/image/logo/cover.png" alt="">
            </a>
        </div>
        <div class="menu ">
            <ul>
                {{#ifCond localAuthUser.level "renter"}}
                {{else}}
                <li class="reshide">
                    <a href="/post/create">Đăng bài</a>
                </li>
                {{/ifCond}}
                <li class="reshide">
                    <a href="/post/search">Tìm kiếm nâng cao</a>
                </li>
                {{#if localAuthUser}}
                {{#ifCond localAuthUser.level "admin"}}
                <li class="reshide">
                    <a href="/account/{{localAuthUser._id}}/manage">Thống kê</a>
                </li>
                {{/ifCond}}
                {{#ifCond localAuthUser.level "owner"}}
                <li>
                    <div class="notification">
                        <i class=" fa fa-bell" onclick="showList(event,'.show-noti')"></i>
                        <div class="show-noti none">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </li>
                {{/ifCond}}
                {{#ifCond localAuthUser.level "admin"}}
                <li>
                    <a href="/account/{{localAuthUser._id}}/manage"><i class="fa fa-comment"></i></a>
                </li>
                {{/ifCond}}
                <li>
                    <div class="account" onclick="showList(event, '.account .show-info-option')">
                        <div class="info-account">
                            <span><b>{{localAuthUser.fullname}}</b> </span>
                            <img src="{{localAuthUser.avatar}}" alt="">
                        </div>
                        <div class="show-info-option none">
                            <ul>
                                {{#ifCond localAuthUser.level "renter"}}
                                <li>
                                    <a href="/account/{{localAuthUser._id}}"> <i class="fa fa-long-arrow-right"></i>
                                        Trang cá nhân</a>
                                </li>
                                {{else}}
                                <li>
                                    <a href="/account/{{localAuthUser._id}}"> <i class="fa fa-long-arrow-right"></i> Bài
                                        viết của bạn</a>
                                </li>
                                {{/ifCond}}
                                <li>
                                    <a href="/account/{{localAuthUser._id}}/edit?type=info"> <i
                                            class="fa fa-long-arrow-right"></i> Sửa thông tin </a>
                                </li>
                                <li>
                                    <a href="/account/{{localAuthUser._id}}/edit?type=password"> <i
                                            class="fa fa-long-arrow-right"></i> Đổi mật khẩu</a>
                                </li>
                                {{#ifCond localAuthUser.level "admin"}}
                                <li>
                                    <a href="/account/{{localAuthUser._id}}/manage"> <i
                                            class="fa fa-long-arrow-right"></i> Quản lý người dùng</a>
                                </li>
                                <li>
                                    <a href="/account/{{localAuthUser._id}}/manage"> <i
                                            class="fa fa-long-arrow-right"></i> Quản lý bài viết</a>
                                </li>
                                {{/ifCond}}
                                <li class="option-line">
                                    <a href="/account/logout"> <i class="fa fa-long-arrow-right"></i> Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {{else}}
                <li>
                    <a href="/account/register" id="register">Đăng ký</a>
                </li>

                <li>
                    <a href="/account/login" id="login">Đăng nhập</a>
                </li>
                {{/if}}
            </ul>
        </div>

    </div>


</div>
{{#ifCond localAuthUser.level 'owner'}}
<div id="message-window" class="small-chat">
    <div class="title-window" onclick="toggleChatWindow(event)">
        <i class="fa fa-comments "></i> <span>Message</span>
    </div>
    <div class="body-window none">
        <div class="close-window" onclick="toggleChatWindow(event)"><span>Chat với admin</span> <i
                class="fa fa-window-minimize"></i></div>

        <div class="chat-window">
        </div>

        <div class="input-window">
            <input type="text" onkeydown="getEnterWindowChat(event)" placeholder="Nhập tin nhắn của bạn.">
            <i class="fa fa-paper-plane" onclick="submitMessageWindowChat(event)"></i>
        </div>
    </div>


</div>
{{/ifCond}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
<script>
    function updateNoti(id) {
        fetch(`/account/${id}/get-noti`)
            .then(notis => notis.json())
            .then(notis => {
                let html = '<h3>Thông báo</h3>';
                notis.forEach((noti, index) => {
                    html += `
                            <li>
                                <div class="avatar">
                                    <img src="${noti.avatar}" alt="">
                                </div>
                                <span class="text-noti"> ${noti.content} </span>
                                <i class="fa fa-circle ${index == 0 ? '' : 'hidden'}"></i>
                            </li>
                        `;
                })
                document.querySelector('.show-noti ul').innerHTML = html;
            })
    }
    {{#ifCond localAuthUser.level 'owner' }}
    updateNoti('{{localAuthUser._id}}')
    {{/ifCond}}

            var socket = io('http://localhost:3000');

            socket.on('{{localAuthUser._id}}noti', function (data) {
                updateNoti(`{{localAuthUser._id}}`)
                document.querySelector('.notification .fa-bell').classList.add('alerted')

            });



</script>