<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="/manage/manage.css">
    <link rel="stylesheet" href="/header/header.css">
</head>

<body>
    {{>header}}
    <div class="content">
        <div class="option">
            <h2>Trang điều hành Admin</h2>
            <ul>
                <li class="list-option account">
                    <h4 onclick="showOption(event)">Quản lý tài khoản </h4>
                    <div onclick="showOption(event)" class="fa fa-angle-down"></div>
                    <ul class="list-inner drop-down-option">
                        <li>
                            <span onclick="chooseOption(0, 0)">Chủ trọ chờ phê duyệt</span>
                        </li>
                        <li>
                            <span onclick="chooseOption(0, 1)">Chủ trọ đã duyệt</span>
                        </li>
                        <li>
                            <span onclick="chooseOption(0, 2)">Chủ trọ đã từ chối</span>
                        </li>
                        <li>
                            <span onclick="chooseOption(0, 3)">Người thuê trọ</span>
                        </li>
                    </ul>
                </li>
                <li class="list-option post">
                    <h4 onclick="showOption(event)">Quản lý bài viết</h4>
                    <div onclick="showOption(event)" class="fa fa-angle-down"></div>
                    <ul class="list-inner">
                        <li>
                            <span onclick="chooseOption(0, 4)">Bài viết chờ
                                duyệt</span>
                        </li>
                        <li>
                            <span onclick="chooseOption(0, 5)">Bài viết đã duyệt</span>
                        </li>
                        <li>
                            <span onclick="chooseOption(0, 6)">Bài viết đã xóa</span>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <h4 onclick="chooseOption(2, 7)">Thống kê</h4>
                </li>
                <li class="message">
                    <h4 onclick="chooseOption(1, 8)">Tin nhắn</h4>
                </li>
            </ul>
        </div>


        <div class="list-side">
            <div class="tab-option">
                <div class="table-side">
                    <div class="title">
                        <h1></h1>
                    </div>
                    <div class="list-items">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="detail-side">
                </div>
            </div>

            <div class="tab-option none">
                <div class="message-side">
                    <div class="title">
                        <h1></h1>
                    </div>
                    <div class="room-chat">
                        <div class="accounts">
                            <div class="search">
                                <i class="fa fa-search"></i>
                                <input type="text" placeholder="TÌm kiếm với tên đăng nhập" name="search">
                            </div>
                            <ul>
                            </ul>
                        </div>
                        <div class="chat-side">
                            <h3>Nguyễn Anh Tú</h3>
                            <div class="chat-area">
                                <ul>
                                </ul>
                            </div>
                            <div class="input-chat">
                                <input autocomplete="off" type="text" onkeydown="getEnter(event)"
                                    placeholder="Nhập đoạn chat" name="message">
                                <i onclick="submitMessage(event)" class="fa fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="detail-side">
                    <h1>Thông tin tài khoản</h1>
                    <ul id="info-chat">

                    </ul>
                </div>
            </div>
            <div class="tab-option">
                <div class="rank-container">
                    <div class="title">
                        <h1>Thống kê</h1>
                    </div>
                    <div class="rank-view">
                        <div class="a-chart">
                            <div id="pie-chart-owner"></div>
                        </div>
                        <div class="a-chart">
                            <div id="pie-chart-user"></div>
                        </div>
                        <div class="a-chart">
                            <div id="pie-chart-post"></div>
                        </div>
                        <div class="a-table" id="rank-user">
                            <h4>Chủ trọ có nhiều bài đăng nhất</h4>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên chủ trọ</th>
                                        <th>Số bài đăng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>

                        </div>
                        <div class="a-table" id="rank-viewed">
                            <h4>Bài đăng có nhiều lượt xem nhất</h4>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <th>Địa chỉ</th>
                                        <th>Giá tiền</th>
                                        <th>Lượt xem</th>
                                    </tr>
                                </thead>
                                <tbody>
                    
                                </tbody>
                            </table>

                        </div>
                        <div class="a-table" id="rank-saved">
                            <h4>Bài đăng có nhiều lượt like nhất</h4>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <th>Địa chỉ</th>
                                        <th>Giá tiền</th>
                                        <th>Lượt like</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>

                        </div>
                        
                        <div class="bar-chat">
                            <h4>Tổng doanh thu trong 12 tháng gần nhất</h4>
                            <canvas id="bar-chart" width="1000" height="500"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/manage/manage.js"></script>
    <script src="/header/header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>

    <script>
        var socket = io('http://localhost:3000');
        function actionAdmin(type, action, bigOption, innerOption) {
            var checked = 0;
            if (action == 'accept') {
                checked = 1;
            } else if (action == 'reject') {
                checked = -1;
            } else {
                checked = 0;
            }
            var data = {
                status: checked,
                type: type,
                id: document.querySelectorAll('.detail-side ul li span')[0].innerText,
            }
            if (document.querySelectorAll('.detail-side ul li span')[0].innerText.length) {
                fetch('/account/action-admin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                socket.emit('Client-sent-notification', document.querySelectorAll('.detail-side ul li span')[10] ? document.querySelectorAll('.detail-side ul li span')[10].innerText : data.id)

                //phe duyet bai viet

                chooseOption(bigOption, innerOption);

            }
        }

        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChartUser);
        google.charts.setOnLoadCallback(drawChartOwner);
        google.charts.setOnLoadCallback(drawChartPost);
        // Draw the chart and set the chart values
        function drawChartUser() {
            var data = google.visualization.arrayToDataTable(
                [
                    ['Type', 'Posts'],
                    ['> 5 triệu', {{price1}}],
                    ['4 - 5 triệu', {{price2}}],
                    ['3 - 4 triệu', {{price3}}],
                    ['2 - 3 triệu', {{price4}}],
                    ['< 2 triệu', {{price5}}],
                ]
            );
            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Thống kê bài viết theo giá phòng', 'width': 600, 'height': 450 };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('pie-chart-user'));
            chart.draw(data, options);
        }
        function drawChartOwner() {
            var data = google.visualization.arrayToDataTable(
                [
                    ['Status', 'Owners'],
                    ['Đã duyệt', {{acceptOwner}}],
                    ['Chờ duyệt', {{waitingOwner}}],
                    ['Từ chối', {{rejectOwner}}],
                ]
            );
            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Thống kê Chủ trọ', 'width': 600, 'height': 450 };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('pie-chart-owner'));
            chart.draw(data, options);
        }
        function drawChartPost() {
            var data = google.visualization.arrayToDataTable(
                [
                    ['Status', 'Posts'],
                    ['Chưa được thuê', {{availablePost}}],
                    ['Đã được thuê', {{rentPost}}],
                    ['Chờ duyệt', {{waitingPost}}],
                    ['Từ chối', {{rejectPost}}],
                    ['Đã hết hạn', {{expiredPost}}],
                ]
            );
            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Thống kê số lượng bài viết ', 'width': 600, 'height': 450 };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('pie-chart-post'));
            chart.draw(data, options);
        }

        var ctx = document.getElementById('bar-chart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{{#each month}}"{{this}}",{{/each}}],
                datasets: [{
                    label: 'Đơn vị: triệu VNĐ',
                    data: [{{profit}}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>

</html>