<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/61ffe76e38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/postDetail/postDetail.css">
    <link rel="stylesheet" href="/header/header.css">
</head>

<body style="padding: 0px">
    {{>header}}
    <div class="top-bar-container">
        <div class="left-top-bar">
            <ul class="ul-top-bar">
                <li><a href="/post/search?province={{post.address.province}}" class="li-top-bar"
                        style="margin-left:0px">{{post.address.province}}</a></li>
                <li>&#10148; <a
                        href="/post/search?province={{post.address.province}}&district={{post.address.district}}"
                        class="li-top-bar">{{post.address.district}}</a></li>
                <li>&#10148; <a
                        href="/post/search?province={{post.address.province}}&district={{post.address.district}}&ward={{post.address.ward}}"
                        class="li-top-bar">{{post.address.ward}}</a></li>

            </ul>
        </div>
        <div class="right-top-bar">
            <a href="javascript:history.back()" class="button-back-post">
                <i class="fas fa-backward"></i>
                Về danh sách</a>
            <a href="#" class="button-next-post">Tin tiếp
                <i class="fas fa-forward"></i>
            </a>
        </div>
    </div>
    <div class="body-container">
        <div class="detail-article">
            <div class="slide-image">
                <div class="images">
                    {{#each post.images}}
                    <img class="image" src={{this}} />
                    {{/each}}
                </div>
                <button class="previous-button-slide" onclick="plusDivs(-1)">
                    <i class="fas fa-chevron-circle-left"></i>
                </button>
                <button class="next-button-slide" onclick="plusDivs(1)">
                    <i class="fas fa-chevron-circle-right"></i>
                </button>
            </div>
            <div style="display: flex; margin: 0.5rem 0px">
                <span class="rent-status">
                    {{#if post.statusrent}}
                    Đã cho thuê
                    {{else}}
                    Vẫn còn phòng
                    {{/if}}
                </span>
                {{#if localAuthUser}}
                {{#ifCond post.owner localAuthUser._id}}
                <i class="fas fa-ellipsis-h more-option" onclick="showMoreOption(event, '.more-option .options')">
                    <div class="options none">
                        {{#ifCond post.checked 1}}
                        {{else}}
                        <div class="option top-left" style="border-bottom: 1px solid var(--color-word)"
                            data-toggle="modal" data-target="#deleteArticle">
                            Xóa bài viết
                        </div>
                        <div class="option bottom-left" style="border-bottom: 1px solid var(--color-word)">
                            <a href="/post/{{post.slug}}/edit">Chỉnh sửa bài viết</a>
                        </div>
                        {{/ifCond}}
                        <div class="option" data-toggle="modal" data-target="#extendArticle">
                            Gia hạn bài viết
                        </div>
                    </div>
                </i>
                {{/ifCond}}
                {{/if}}
            </div>
            <div class="introduce-article">
                <p class="title-intro">{{post.title}}</p>
                <div style=" display: flex; justify-content: space-between;">
                    <span class="address-intro">{{post.address.province}} - {{post.address.district}} -
                        {{post.address.ward}}</span>
                </div>
                <p class="price-intro">{{post.rentcost}} VNĐ</p>
            </div>
            <div class="main-article">
                <p class="title-main">Thông tin chính</p>
                <div class="main">
                    <ul class="left-main">
                        <li class="date-post"><span>Ngày đăng</span>: {{post.createdDate}}</li>
                        <li><span>Giá</span>: {{post.rentcost}} VNĐ</li>
                        <li><span>Diện tích</span>: {{post.area}} m<sup>2</sup></li>
                        <li><span>Giá điện</span>: {{post.electric}} VNĐ</li>
                        <li><span>Giá nước</span>: {{post.water}} VNĐ</li>
                        <li><span>Chung chủ</span>: {{post.infoOwner}}</li>
                        <li><span>Khép kín</span>: {{post.equipments.closed}}</li>
                        <li><span>Tổng số tầng</span>: {{post.equipments.floors}}</li>
                        <li><span>Tầng thứ</span>: {{post.equipments.floor}}</li>
                    </ul>
                    <ul class="right-main">
                        <li><span>Điều hòa</span>: {{post.equipments.airconditional}}</li>
                        <li><span>Tủ lạnh</span>: {{post.equipments.freazer}}</li>
                        <li><span>Máy giặt</span>: {{post.equipments.washingmachine}}</li>
                        <li><span>Nóng lạnh</span>: {{post.equipments.hottank}}</li>
                        <li><span>Phòng tắm</span>: {{post.equipments.bathroom}}</li>
                        <li><span>Bếp, nấu ăn</span>: {{post.equipments.kitchen}}</li>
                        <li><span>Phòng ngủ</span>: {{post.equipments.bedroom}}</li>
                        <li><span>Nhà vệ sinh</span>: {{post.equipments.wc}}</li>
                        <li><span>Ban công</span>: {{post.equipments.balcony}}</li>
                    </ul>
                </div>
            </div>
            <div class="description-article">
                <p class="title-main">Mô tả chi tiết</p>
                <div class="content-description">
                    {{post.nearby}}
                    <br>
                    {{post.description}}
                </div>
                <a href="/account/{{post.owner}}" class="owner-description">
                    <img class="avatar-owner" src={{post.authorAvatar}} />
                    <div class="name-owner">
                        <p style="font-size: 1.2rem; font-weight: bold; margin: 0px">
                            {{post.authorName}}
                        </p>
                    </div>
                    <div class="contact-owner">
                        <i class="fas fa-phone-alt" style="color: #009177; margin-right: 0.5rem"></i>
                        {{post.contact}}
                    </div>
                </a>
            </div>
        </div>
        <div class="owner-article">
            <div class="contact-owner">
                <a href="/account/{{post.owner}}" style="display: flex;">
                    <img class="avatar-owner" src={{post.authorAvatar}} />
                    <div class="name-owner" style="display: flex;">
                        <p style="font-size: 1.2rem; font-weight: bold; margin: 0px">
                            {{post.authorName}}
                        </p>
                        {{!-- <p style="font-size: 1rem; color: grey; margin: 0px">
                            Đã tham gia: {{post.authorCreated}}
                        </p> --}}
                        <div>
                            <i class="fas fa-phone-alt" style=" color: #009177; margin-right: 0.5rem;"></i>
                            {{post.contact}}
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="comment-container ">
        <h2>Đánh giá của người thuê</h2>
        <div class="list-comment">
            {{#each post.comments}}
            <div class="comments">
                <img class="avatar-renter" src={{this.authorAvatar}} />
                <div class="comment">
                    <div class="header-comment">
                        <h4 class="name-renter">{{this.authorName}}</h4>
                        <div class="stars">
                            {{this.star}}
                        </div>
                    </div>
                    <p class="content-comment">{{this.content}}</p>
                    <p class="date-comment">{{this.date}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="my-comment {{#if localAuthUser}}''{{else}}none{{/if}}">
            <div class="rate-comment">
                <h4 style="margin: 0px; margin-right: 0.5rem">Bình luận của bạn</h4>
                <div class="rate-star">
                    <i class="far fa-star" onclick="rate(1)"></i>
                    <i class="far fa-star" onclick="rate(2)"></i>
                    <i class="far fa-star" onclick="rate(3)"></i>
                    <i class="far fa-star" onclick="rate(4)"></i>
                    <i class="far fa-star" onclick="rate(5)"></i>
                </div>
                <div class="report-button" data-toggle="modal" data-target="#myModal">
                    <span id="baocao">Báo cáo bài viết</span>
                    <i class="fas fa-exclamation-circle report-icon"></i>
                </div>
            </div>
            <div class="comment-area">
                <textarea placeholder="Mời nhập bình luận của bạn" class="input-comment"></textarea>
                <button class="send-comment" onclick="send()">Gửi</button>
            </div>
        </div>
    </div>
    <!-- Modal Report -->
    <div>
        <div class="container">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header-new">
                            <h4 class="modal-title-new">Báo cáo vi phạm</h4>
                            <button class="close-new" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body-new">
                            <div class="content-reported">
                                <input type="checkbox" name="check-report" />
                                <span>Nội dung tin không đúng (giá, diện tích, ...)</span>
                            </div>
                            <div class="content-reported">
                                <input type="checkbox" name="check-report" />
                                <span>Địa chỉ không đúng</span>
                            </div>
                            <div class="content-reported">
                                <input type="checkbox" name="check-report" />
                                <span>Ảnh không đúng với thực tế</span>
                            </div>
                            <div class="content-reported">
                                <input type="checkbox" name="check-report" />
                                <span>Không liên lạc được với người bán</span>
                            </div>
                            <div class="content-reported">
                                <input type="checkbox" name="check-report" />
                                <span>Phòng trọ đã cho thuê</span>
                            </div>
                            <div class="content-reported">
                                <input type="checkbox" name="check-report" />
                                <span>Tin không có thật</span>
                            </div>
                        </div>
                        <div class="modal-footer-new">
                            <button class="send-report" data-dismiss="modal" onclick="sendReport()">
                                Gửi
                            </button>
                            <button class="close-report" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Report -->
    <!-- Modal Delete -->
    <div>
        <div class="container">
            <div class="modal fade" id="deleteArticle" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header-new">
                            <h4 class="modal-title-new">Bạn muốn xóa bài viết ?</h4>
                            <button class="close-new" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-footer-new">
                            <button class="send-report" data-dismiss="modal" onclick="deleteArticle()">
                                Có
                            </button>
                            <button class="close-report" data-dismiss="modal">Không</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete -->
    <!-- Modal Extend -->
    <div>
        <div class="container">
            <div class="modal fade" id="extendArticle" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header-new">
                            <h4 class="modal-title-new">Bạn muốn gia hạn bài viết ?</h4>
                            <button class="close-new" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body-new">
                            <span>Mời bạn nhập số ngày (chú ý số ngày phải lớn hoặc bằng
                                7)</span>
                            <div class="extended">
                                <input type="number" onchange="chuyendoi(event)" class="input-day-extended"
                                    placeholder="ngày" min="7" />
                                <div class="convert-button">
                                    <i class="fas fa-long-arrow-alt-right" style="font-size: 2rem"></i>
                                </div>
                                <span class="money-extended">0 VNĐ</span>
                            </div>
                        </div>
                        <div class="modal-footer-new">
                            <button class="send-report" data-dismiss="modal" onclick="extendArticle()">
                                Có
                            </button>
                            <button class="close-report" data-dismiss="modal">Không</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Extend -->

    <script src="/postDetail/postDetail.js"></script>
    <script src="/header/header.js"></script>
</body>

</html>