<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/searchResult/searchResult.css">
    <link rel="stylesheet" href="/header/header.css">
    
</head>

<body>
    {{>header}}
    <div class="search-area">
        <form class="search-inputs" method="POST" action="">
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Tên đường, khu vực liền kề, từ khóa..." name="search">
            </div>
            <div class="select address">
                <span onclick="showAddress(event, 0, 0)">
                    Chọn khu vực <div class="fa fa-angle-down"></div>
                </span>
                <div class="option option-address none">
                    <input class="none" type="text" name="province">
                    <ul class="list-option">
                    </ul>
                </div>
                <div class="option option-address none">
                    <input class="none" type="text" name="district">
                    <ul class="list-option">
                    </ul>
                </div>
                <div class="option option-address none">
                    <input class="none" type="text" name="ward">
                    <ul class="list-option">
                    </ul>
                </div>
            </div>

            <div class="select price">
                <span onclick="showList(event, '.price .option')">
                    Chọn khoảng giá (tháng) <div class="fa fa-angle-down"></div>
                </span>
                <div class="option option-price none">
                    <div class="group-price">
                        <ul class="list-option">
                            <li>Giá thấp nhất</li>
                            <input type="text" name="minPrice" class="minPrice none">
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="1000000">1
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="2000000">2
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="3000000">3
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="5000000">5
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="7000000">7
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="10000000">10
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="20000000">20
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="min" value="50000000">50
                                    triệu </label></li>
                        </ul>
                        <ul class="list-option">
                            <li>Giá cao nhất</li>
                            <input type="text" name="maxPrice" class="maxPrice none">
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="2000000">2
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="3000000">3
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="5000000">5
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="7000000">7
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="10000000">10
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="20000000">20
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="50000000">50
                                    triệu </label></li>
                            <li><label onchange="checkPrice(event)"><input type="radio" name="max" value="100000000">100
                                    triệu </label></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="select filter">
                <span onclick="showFilter(event, 0, 0)">
                    Lọc nâng cao <div class="fa fa-filter"></div>
                </span>
                <div class="option-filter none">
                    <input class="none" type="text" name="advanced">
                    <ul class="list-option">
                        <li onclick="showFilter(event)">Bộ lọc <i class="fa fa-times"></i> </li>
                        <li onclick="nextFilter(event)">Loại phòng <div class="fa fa-angle-right"></div>
                        </li>
                        <li onclick="nextFilter(event)">Diện tích <div class="fa fa-angle-right"></div>
                        </li>
                        <li onclick="nextFilter(event)">Số phòng <div class="fa fa-angle-right"></div>
                        </li>
                        <li onclick="nextFilter(event)">Điều kiện/Cơ sở vật chất <div class="fa fa-angle-right"></div>
                        </li>
                        <div class="filter-btn">
                            <button class="filter-btn-inner" onclick="showFilter(event)">Lưu bộ lọc</button>
                        </div>
                    </ul>
                    <ul class="list-option none">
                        <li onclick="backFilter(event)">
                            <div class="fa fa-angle-left"></div> Loại phòng
                        </li>
                        <input type="text" class="none" name="roomType">
                        <li onclick="backFilter(event)">Chung cư mini</li>
                        <li onclick="backFilter(event)">Nhà nguyên căn</li>
                        <li onclick="backFilter(event)">Phòng chung cư </li>
                        <li onclick="backFilter(event)">Phòng trọ</li>
                    </ul>
                    <ul class="list-option none">
                        <li onclick="backFilter(event)">
                            <div class="fa fa-angle-left"></div> Diện tích (m<sup>2</sup>)
                        </li>
                        <input type="text" class="none" name="area">
                        <li onclick="backFilter(event)">
                            < 20 </li>
                        <li onclick="backFilter(event)">20 - 25 </li>
                        <li onclick="backFilter(event)">25 - 30 </li>
                        <li onclick="backFilter(event)">30 - 35 </li>
                        <li onclick="backFilter(event)">35 - 40 </li>
                        <li onclick="backFilter(event)">45 - 50 </li>
                        <li onclick="backFilter(event)">> 50 </li>
                    </ul>
                    <ul class="list-option none">
                        <li onclick="backFilter(event)">
                            <div class="fa fa-angle-left"></div> Số phòng
                        </li>
                        <input type="text" class="none" name="bedrooms">
                        <li onclick="backFilter(event)">1 phòng ngủ </li>
                        <li onclick="backFilter(event)">2 phòng ngủ </li>
                        <li onclick="backFilter(event)">3 phòng ngủ </li>
                        <li onclick="backFilter(event)">4 phòng ngủ </li>
                    </ul>
                    <ul class="list-option none">
                        <li onclick="backFilter(event)">
                            <div class="fa fa-angle-left"></div> Điều kiện/Cơ sở vật chất
                        </li>
                        <input type="text" class="none" name="equipfments">
                        <li><label><input type="checkbox" value="tivi" name="tivi"> Ti Vi </label></li>
                        <li><label><input type="checkbox" value="tulanh" name="tulanh"> Tủ lạnh </label></li>
                        <li><label><input type="checkbox" value="dieuhoa" name="dieuhoa"> Điều hòa </label></li>
                        <li><label><input type="checkbox" value="nonglanh" name="nonglanh"> Nóng lạnh </label></li>
                        <li><label><input type="checkbox" value="bepga" name="bepga"> Bếp gas </label></li>
                        <li><label><input type="checkbox" value="chungchu" name="chungchu"> Chung chủ </label></li>
                        <li><label><input type="checkbox" value="khepkin" name="khepkin"> Khép kín </label></li>
                    </ul>
                </div>

            </div>
            <button class="search-btn" type="submit">Tìm kiếm</button>
        </form>
        <div class="background-filter none"></div>
    </div>
    <div class="content">
        <div class="posts-area">
            <div class="text-result">
                <h4>
                    Chúng tôi sẽ mang lại thông tin các phòng trọ phù hợp nhất với tiêu chí tìm trọ của bạn. Hãy nhập các lựa chọn ở bộ tìm kiếm nâng cao ở trên!!!                    
                </h4>
            </div>
            <div class="option-result">
                <span><b>1-10</b> trong tổng số <b>{{total}}</b> bài viết</span>
                
                <div class="sort" onclick="showList(event, '.sort .sort-option')">
                    <label><i class="fa fa-sort"></i><span>Sắp xếp</span></label>
                    <ul class="sort-option none">
                        <li onclick="sort(event, 'new')">Mới nhất </li>
                        <li onclick="sort(event, 'old')">Cũ nhất </li>
                        <li onclick="sort(event, 'cheap')">Giá tăng dần</li>
                        <li onclick="sort(event, 'expensive')">Giá giảm dần</li>
                    </ul>
                </div>
                <div class="sort" style="margin-right: 30px;" onclick="resetFilter(event)"> <i class="fa fa-times-circle"></i> Xóa bộ lọc</div>
            </div>
            <div class="posts">
                <div class="list-posts">
                    <ul>
                        
                    </ul>
                </div>
                
                
            </div>
        </div>
        <div class="news-area">
            <div class="list-news">
                <div class="count-room">
                    <h6 class="line">Thống kê loại trọ (theo số bài viết)</h6>
                    <ul>
                        <li>
                            <a href="#" onclick="redirect(event,'Chung cư mini')">
                                <i class="fa fa-long-arrow-right"></i> Chung cư mini: <span>({{miniApartment}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="redirect(event,'Nhà nguyên căn')">
                                <i class="fa fa-long-arrow-right"></i> Nhà nguyên căn: <span>({{house}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="redirect(event,'Chung cư')">
                                <i class="fa fa-long-arrow-right"></i> Phòng chung cư: <span>({{apartment}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="redirect(event,'Phòng trọ')">
                                <i class="fa fa-long-arrow-right"></i> Phòng trọ: <span>({{motel}})</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="for-adver">
                    <img src="/searchResult/adver.jpg" alt="">
                </div>
                <div class="count-room">
                    <h6 class="line">Top 10 khu vực với số bài viết</h6>
                    <ul>
                        {{#each postsProvince}}
                        <li>
                            <a href="#" onclick="redirectProvince(event,'{{this._id}}')">
                                <i class="fa fa-long-arrow-right"></i> {{this.index}}. {{this._id}}: <span>({{this.totalPosts}})</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script src="/searchResult/searchResult.js"></script>
    <script src="/header/header.js"></script>
    <script src="/header/header.js"></script>
    <script>



    </script>
</body>

</html>